:root{
    --gold-metal: #C5A059;
    --copper-metal: #b87333;
    --roshar-stormlight: #3399ff;
    --roshar-stormlight-dark: #136cc5;
    --bg-body: #f8f9fa;
    --hx-nalthis: #F47FFF;
    --sub-nalthis: #cd42da;
    --cosmere-dark: #2C3E50;
}

@font-face {
    font-family: 'CinzelLocal';
    src: url('fonts/Cinzel-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CinzelLocal';
    src: url('fonts/Cinzel-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.font-cinzel {
    font-family: 'CinzelLocal';
}

.navbar-nav .nav-link:hover {
    transition: all 0.4s ease;
    background-color: rgba(255, 255, 255, 0.1) !important;
    border-radius: 5px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    filter: invert(1); 
}

button:focus,
button:active,
.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.bg-cosmere-dark {
    background: var(--cosmere-dark);
}

.color-cosmere-dark {
    color: var(--cosmere-dark)
}

body {
    background: var(--bg-body);
}


#link-scadrial:hover {
    color: var(--gold-metal) !important;

}


#link-roshar:hover {
    color: var(--roshar-stormlight) !important;

}


#link-nalthis:hover {
    color: var(--hx-nalthis) !important;

}

.btn-scadrial-outline {
    border: 2px solid var(--gold-metal);
    color: var(--gold-metal);
}

.btn-roshar-outline {
    border: 2px solid var(--roshar-stormlight);
    color: var(--roshar-stormlight);
}

.btn-nalthis-outline {
    border: 2px solid var(--hx-nalthis);
    color: var(--hx-nalthis)
}

.btn-scadrial-outline:hover {
    background: var(--gold-metal);
    color: var(--text-main);
}

.btn-roshar-outline:hover {
    background: var(--roshar-stormlight);
    color: var(--text-main);
}

.btn-nalthis-outline:hover {
    background: var(--hx-nalthis);
    color: var(--text-main);
}

.carousel-caption {
    background: rgba(15, 15, 15, 0.5);
}

.card-body-planetas{
    min-height: 160px;
}

